<div class="background">
    <div class="container section-title text-center">
        <h1 class="display-1">Contáctanos</h1>
    </div>
    <div class="row justify-content-center mx-auto pt-5">
        <div class="col-lg-4 col-md-6 mb-4 mx-auto p-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.7026806313092!2d-101.26549168535958!3d19.640004886766896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d0b783c915f6f%3A0x5c1c769afef1ff72!2sAv.%20Curicaveri%20815%2C%20Co%C3%ADntzio%2C%20Mich.!5e0!3m2!1ses-419!2smx!4v1606848196522!5m2!1ses-419!2smx"
                 frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>

    <div class="row mx-auto text-center justify-content-center">
        <button class="phone justify-content-center pr-4 pl-4 mr-4 ml-4">
            <a mat-flat-button  href="tel:+524433200368" target="_blank">
                <i class="fas fa-phone fa-2x"></i>
             </a>
        </button>
        <button class="mail justify-content-center pr-4 pl-4 mr-4 ml-4">
            <a mat-flat-button  href="mailto:marketing@robemex.com" target="_blank">
                <i class="fas fa-envelope fa-2x"></i>
              </a>
        </button>
        <button class="mail justify-content-center pr-4 pl-4 mr-4 ml-4">
            <a mat-flat-button  href="https://api.whatsapp.com/send?phone=+524432760389" target="_blank">
                <i class="fab fa-whatsapp fa-2x"></i>
              </a>
        </button>
    </div>
</div>