@font-face {
    font-family: GIOVANNI;
    src: url('../../../assets/font/GIOVANNI.ttf') format("truetype");
}
*{
    font-family: GIOVANNI;
}
@media (min-width: 100px){
    .background{
        width: 100%;
        height: 800px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 280px){
    .background{
        width: 100%;
        height: 900px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 300px){
    .background{
        width: 100%;
        height: 1200px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 360px){
    .background{
        width: 100%;
        height: 1200px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 400px){
    .background{
        width: 100%;
        height: 1230px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 540px){
    .background{
        width: 100%;
        height: 1700px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 600px){
    .background{
        width: 100%;
        height: 2000px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 768px){
    .background{
        width: 100%;
        height: 900px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 1024px){
    .background{
        width: 100%;
        height: 500px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 1200px){
    .background{
        width: 100%;
        height: 500px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 1300px){
    .background{
        width: 100%;
        height: 700px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}
@media (min-width: 1500px){
    .background{
        width: 100%;
        height: 700px;
        background: url('../../../assets/img/fondos/nosotros.png') top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }
    .spacer{
        flex: 1 1 1;
    }
}